/* 
#Buttons

## General button styles

*/

/* ###Default button

        <button class="btn">Ois</button>
*/
.btn {
    background:$black;
    color:$white;
}

/* ###Larger Button

        <button class="btn btn-large">Ois</button>
        
*/
.btn-large {
    padding:20px 30px;
}