* {
    box-sizing: border-box;
}

html { 
    letter-spacing:$default-letter-spacing;
    background:$bg-body;
}

body,
button,
input,  
select, 
textarea {
    font-family: $default-text-font;
    font-weight:300;
    color:$gray;
    font-size:18px;
    line-height:1.5;
}

a {
    text-decoration: none;
}

p {
    margin:1.5em 0;
  
    &:first-child {
        margin-top:0;
    }
    
    &:last-child {
        margin-bottom:0;
    }
}

img {
    display:block;
    max-width:100%;
}

.wrapper {
    max-width:$max-desktop-container-width;
    width:100%;
    margin:0 auto;
}

.button {
    border: 0;
    font-family: inherit;
    font-size: 24px;
    cursor: pointer;
    padding: 15px 20px;
    display: inline-block;
    margin: 20px 30px;
    outline: none;
    position: relative;
    background:$main-color;
    color:$white;
    box-shadow: 0 6px darken($main-color, 5%);
    text-decoration:none;
    text-align:center;
    
    &:hover {
        box-shadow: 0 4px darken($main-color, 5%);
        top: 2px;
        text-decoration:none;
        }
    
    &:active {
        box-shadow: 0 0 darken($main-color, 5%);
        top: 6px;
        }
    
    @media #{$mobile} {
        width:100%;
    }
}

