$theme-color: 'yellow' !default;

// colors

$red: #b52207 !default;
$yellow: #ff0 !default; 
$purple: #66336a !default;
$white: #fff !default;
$lighter-gray:#f4f4f4 !default;
$gray:#5f676c !default;
$dark-gray:#333 !default;
$black:#232b2f !default;

$main-color:$black !default;
$main-highlight:$black !default;
@if $theme-color == 'yellow' {
    $main-color:$yellow !default;
    $main-highlight:#181716 !default;
} 
@else {
    $main-color:$red !default;
    $main-highlight:$red !default;
}


$bg-body:$white !default;

// sizes
$max-desktop-container-width:1372px !default;
$default-spacing: 30px !default;
$gutter-width: 10px !default;

// font-sizes
$large-font-size: 40px !default;
$large-font-size-mobile: 30px !default;
$default-font-size: 18px !default;
$mobile-font-size: 14px !default;

// font names
$f-light: 'Calibri Light', Calibri, sans-serif !default;
$f-regular: 'Calibri Regular', Calibri, sans-serif !default;
$f-medium:  'Calibri Bold', Calibri, sans-serif !default;

$default-text-font: $f-light !default;

// etc

$border: 1px solid $lighter-gray !default; 
$default-letter-spacing: 0 !default; // in em
$default-line-height:1.4 !default;

// do not remove these! change according to current project's media queries.

$mobile : 'all and (max-width:767px)' !default;
$not-mobile : 'all and (min-width:768px)' !default;
$tablet : 'all and (max-width : 1023px)' !default;
$tablet-only : 'all and (min-width : 768px) and (max-width : 1023px)' !default;
$desktop-medium :  'all and (min-width:1400px) and (max-width:1800px)' !default;
$desktop-small :  'all and (min-width:1024px) and (max-width:1399px)' !default; 
